# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
